venv
.env
.idea
simulation/simdir/
agent_prod/simulation/runme.csh
agent_prod/simulation/simdir
agent_prod/outputs
agent_prod/output
agent_prod/sessions
agent_prod/logs
agent_prod/agent/logs/
agent_build/outputs
__pycache__
